.input-icon {
  position: relative;
}

.input-icon input {
  padding-left: 40px;
}

.input-icon svg {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #888;
}

input::placeholder
{
  color: #9aa4bf !important;
}